params {
    adapter_file = "Truseq3-PE.fa"
}

process {
    withName: 'TRIMMOMATIC'{

        //ext.args = {
        //    def args = [
        //        '-phred33',
        //        "ILLUMINACLIP:${params.adapter_file}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36"
        //
        //    ]
        //    return args.join(' \\')
        //}
    
        container = 'community.wave.seqera.io/library/trimmomatic:0.39--a688969e471089d7'

        publishDir = [
            path: {"${params.outdir}/trimmomatic"},
            mode: 'copy',
            saveAs: { filename -> filename.equals(versions.yml) ? null: filename}
        ]
    }
    withName: 'STAR_ALIGN' {
        memory = '60 GB'
        disk = '150 GB'
        cpus = 16
        ext.args = [
            '--sjdbScore 2',
            '--outFilterMismatchNmax 10',
            '--chimSegmentMin 1',
            '--outFilterIntronMotifs None'
        ].join(' ')
    }
    withName: 'PICARD_ADDORREPLACEREADGROUPS' {
        container = 'community.wave.seqera.io/library/picard:3.3.0--5e809c04bd9946c4'
        ext.args = { [
            "--RGLB RNAseq",
            "--RGPL illumina",
            "--RGPU platform1",
            "--RGSM ${meta.id}",
            "--VALIDATION_STRINGENCY LENIENT",
            "--TMP_DIR ${meta.id}",
            "--CREATE_INDEX true"
        ].join(' \\') }
    }
    withName: 'SAMTOOLS_SORT' {

        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: {"${params.outdir}/samtools_sorted"},
            mode: 'copy',
            saveAs: { filename -> filename.equals(versions.yml) ? null: filename}
        ]
    }
    withName: 'SAMTOOLS_VIEW' {

        container = 'community.wave.seqera.io/library/samtools:1.21--0d76da7c3cf7751c'
        ext.prefix = { "${meta.id}_converted" }
        publishDir = [
            path: {"${params.outdir}/samtools_converted"},
            mode: 'copy',
            saveAs: { filename -> filename.equals(versions.yml) ? null: filename}
        ]
    }
}