docker.enabled = true

manifest {
    name = 'tep_mapping_pipe'
    description = 'A Nextflow pipeline for mapping TEP data'
    version = "0.1.0"
}

plugins {
    id 'nf-amazon'
}

profiles {

    local {
        includeConfig 'modules.config'
        params { 
            outdir = "results"
        }
        process {
            executor = 'local'
        }
    }

    amazon {
        includeConfig 'modules.config'
        params { 
            adapter_file = "s3://renovaro-general-purpose/adapters/TruSeq3-PE.fa"
            index = "s3://renovaro-general-purpose/genomes/star/"
            genome = "s3://renovaro-general-purpose/genomes/star/hg38.fa"
            genome_index = "s3://renovaro-general-purpose/genomes/star/hg38.fa.fai"
            gtf = "s3://renovaro-general-purpose/genomes/star/gencode.v47.annotation.gtf"
            outdir = "s3://test-data-renovaro/results"
            reads = "s3://test-data-renovaro/reads/rep11_{1,2}.fq"
        }

        process {
            executor = 'awsbatch'
            queue = 'fargate-job-queue'
            maxRetries = 5
            memory = '8 GB'
        }

        aws {
            region = 'us-east-1'
            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                platformType = 'fargate'
                jobRole = 'arn:aws:iam::911167914890:role/nextflow-job-role'
                executionRole = 'arn:aws:iam::911167914890:role/nextflow-fargate-execution-role' 
            }
            
        }
        wave.enabled = true
        workDir = 's3://test-data-renovaro/nextflow_work/'
    }
}
